.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
    .slide {
      display: inline-block;
      height: 400px;
      width: 100%;
    }
  }
  .slideshowDots {
    text-align: center;
    /* margin-top: -50px;
    z-index: 1; */
    .slideshowDot {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      cursor: pointer;
      margin: 15px 7px 0;
      background-color: #f0e7e7;
    }
    .slideshowDot.active {
      background-color: #6a0dad;
    }
  }
}
